about-time==4.2.1
absl-py==2.1.0
accelerate==1.0.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.2
alive-progress==3.1.5
altair==5.4.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
auth0-python==4.7.2
autograd==1.7.0
AutoRAG==0.3.4
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bert-score==0.3.13
bleach==6.1.0
blinker==1.8.2
blis==0.7.11
bm25s==0.2.2
bokeh==3.6.0
boto3==1.35.22
botocore==1.35.22
build==1.2.2
CacheControl==0.14.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.13
cleo==2.1.0
click==8.1.7
cloudpathlib==0.19.0
cma==3.2.2
cohere==5.9.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
cramjam==2.8.4
crashtest==0.4.1
crewai==0.35.0
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==3.0.1
debugpy==1.8.5
decorator==5.1.1
deepdiff==8.0.1
deepl==1.19.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
docstring_parser==0.16
dulwich==0.21.7
embedchain==0.1.109
emoji==2.13.2
et-xmlfile==1.1.0
evaluate==0.4.3
executing==2.1.0
faiss-cpu==1.8.0.post1
fastai==2.7.17
fastapi==0.115.0
fastavro==1.9.7
fastcore==1.7.9
fastdownload==0.0.7
fastjsonschema==2.20.0
fastparquet==2024.5.0
fastprogress==1.0.3
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
FlagEmbedding==1.2.11
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.4.1
fsspec==2024.6.1
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.2
google-auth==2.34.0
google-cloud-aiplatform==1.67.1
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gptcache==0.1.44
gradio==4.44.1
gradio_client==1.3.0
grapheme==0.6.0
greenlet==3.1.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.1
grpcio-status==1.62.3
grpcio-tools==1.62.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.23.5
humanfriendly==10.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
installer==0.7.0
instructor==1.3.3
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
ipywidgets_bokeh==1.6.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
JPype1==1.5.0
json_repair==0.25.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jstyleson==0.0.2
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keyring==24.3.1
kiwipiepy==0.19.0
kiwipiepy_model==0.19.0
kiwisolver==1.4.7
konlpy==0.6.0
kubernetes==30.1.0
langchain==0.2.16
langchain-cohere==0.1.5
langchain-community==0.2.17
langchain-core==0.2.41
langchain-experimental==0.0.65
langchain-huggingface==0.1.0
langchain-openai==0.1.25
langchain-teddynote==0.0.34
langchain-text-splitters==0.2.4
langchain-unstructured==0.1.5
langchain-upstage==0.3.0
langcodes==3.4.1
langdetect==1.0.9
langsmith==0.1.128
language_data==1.2.0
Levenshtein==0.26.0
linkify-it-py==2.0.3
litellm==1.46.6
llama-cloud==0.1.2
llama-index==0.11.17
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.17
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-huggingface==0.3.5
llama-index-llms-ollama==0.3.4
llama-index-llms-openai==0.2.13
llama-index-llms-openai-like==0.2.0
llama-index-multi-modal-llms-openai==0.2.2
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.1
llama-index-readers-llama-parse==0.3.0
llama-index-retrievers-bm25==0.4.0
llama-parse==0.5.7
llmlingua==0.2.2
lxml==5.3.0
lz4==4.3.3
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mem0ai==0.0.20
minijinja==2.2.0
mixedbread-ai==2.2.6
mmh3==4.1.0
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
narwhals==1.9.3
natsort==8.4.0
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
nltk==3.9.1
nncf==2.13.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
ollama==0.3.3
onnx==1.17.0
onnxruntime==1.19.2
openai==1.45.1
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
openvino==2024.4.1.dev20240926
openvino-telemetry==2024.1.0
openvino-tokenizers==2024.4.1.0.dev20240926
optimum==1.23.1
optimum-intel==1.20.0
orderly-set==5.2.2
orjson==3.10.7
overrides==7.7.0
packaging==23.2
pandas==2.2.2
panel==1.5.2
param==2.1.1
parameterized==0.9.0
parso==0.8.4
pdf2image==1.17.0
peft==0.13.2
pexpect==4.9.0
pillow==10.4.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pinecone-text==0.9.0
pkginfo==1.11.1
platformdirs==4.3.3
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
portalocker==2.10.1
posthog==3.6.6
preshed==3.0.9
priority==2.0.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.5
protoc-gen-openapiv2==0.0.1
psutil==6.0.0
ptyprocess==0.7.0
pulsar-client==3.5.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.9.0
pymoo==0.6.1.3
pyparsing==3.1.4
pypdf==4.3.1
PyPika==0.48.9
pyproject_hooks==1.1.0
pyreadline3==3.5.4
pysbd==0.3.4
PyStemmer==2.2.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-iso639==2024.4.27
python-Levenshtein==0.26.0
python-magic==0.4.27
python-multipart==0.0.12
python-oxmsg==0.0.1
pytz==2024.2
pyviz_comms==3.0.3
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
qdrant-client==1.11.2
Quart==0.19.6
ragas==0.1.21
rank-bm25==0.2.2
rapidfuzz==3.9.7
referencing==0.35.1
regex==2023.12.25
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.8.1
rouge==1.0.1
rouge_score==0.1.2
rpds-py==0.20.0
rsa==4.9
ruff==0.6.9
s3transfer==0.10.2
sacrebleu==2.4.3
safetensors==0.4.5
schema==0.7.7
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
semantic-version==2.10.0
sentence-transformers==3.1.1
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
srsly==2.4.8
stack-data==0.6.3
starlette==0.38.5
streamlit==1.39.0
striprtf==0.0.26
sympy==1.13.3
tabulate==0.9.0
tenacity==8.5.0
text-generation==0.7.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
tokenlog==0.0.2
toml==0.10.2
tomlkit==0.12.0
torch==2.4.1
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.44.2
trove-classifiers==2024.9.12
typer==0.12.5
types-requests==2.32.0.20240914
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
unstructured==0.15.13
unstructured-client==0.25.9
urllib3==2.2.3
uvicorn==0.30.6
virtualenv==20.26.5
voyageai==0.2.3
wasabi==1.1.3
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
wget==3.2
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.11.1
zipp==3.20.2
